@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&family=Titillium+Web&display=swap');
body{
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
}
section{
    background-color: hsl(0, 0%, 100%);
}
h1{
    text-align: center;
    color: hsl(218, 44%, 22%);
    margin: 0px;
    font-weight: 700;
}
p{
    text-align: center;
    font-size: 15px;
    color: hsl(220, 15%, 55%);
    margin: 0px;
    font-weight: 400;
}
img{
    border-radius: 5%;
}
@media only screen and (max-width: 1440px){
    img{
        margin-top: 5%;
        width: 90%;
    }
    body{
        display: flex;
        justify-content: center;
        align-content: center;
    }
    section{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 300px;
        box-shadow: 1px 1px 10px hsl(212, 45%, 89%);
        border-radius: 5%;
    }
    div#texto{
        padding: 12px;
    }
}

@media only screen and(max-width: 375px){
    img{
        margin-top: 5%;
        width: 90%;
    }
    body{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    section{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 300px;
        box-shadow: 1px 1px 10px hsl(212, 45%, 89%);
        border-radius: 5%;
    }
    div#texto{
        padding: 12px;
    }
}