@charset "utf-8";

@font-face {
    font-family: Noto Sans;
    src: url(assets/fonts/NotoSans-VariableFont_wdth\,wght.ttf) format('true-type');
}

:root{
    
    --gradient: linear-gradient(180deg, light-dark(#EBF2FC, #040918 ) 0%, light-dark(#EEF8F9, #091540) 100%);

    --neutral900: hsl(227, 75%, 14%);
    --neutral800: hsl(226, 25%, 17%);
    --neutral700: hsl(225, 23%, 24%);
    --neutral600: hsl(226, 11%, 37%);
    --neutral300: hsl(0, 0%, 78%);
    --neutral200: hsl(217, 61%, 90%);
    --neutral100: hsl(0, 0%, 93%);
    --neutral0: hsl(200, 60%, 99%);

    --red400: hsl(3, 86%, 64%);
    --red500: hsl(3, 71%, 56%);
    --red700: hsl(3, 77%, 44%);


}

:root{
    &:has(input[name="theme"][value="light dark"]:checked){
        color-scheme: dark;
        header > label{
            background-image: url(assets/images/icon-sun.svg);
        }
    }
}

*{
    margin: 0;
    padding: 0;
    font-family: Noto Sans;
}

html{
    background: var(--gradient);
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: light-dark(var(--neutral0), var(--neutral800));
    border-radius: 20px;
}

header > img{
    padding: 15px;
}

header > input{
    display: none;
}

header > label{
    width: 22px;
    height: 22px;
    background-image: url(assets/images/icon-moon.svg);
    background-position: center;
    background-repeat: no-repeat;
    padding: 8px;
    margin: 15px;
    background-color: light-dark(var(--neutral100), var(--neutral700));
    border-radius: 10px;
}

h1, h2{
    color: light-dark(var(--neutral900), var(--neutral0));
}

header, section, main{
    max-width: 90vw;
    margin: 40px auto;
}

section{
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filters > input{
    display: none;
}

.filters > label{
    background-color: light-dark(var(--neutral0), var(--neutral800));
    color: light-dark(var(--neutral900), var(--neutral0));
    font-size: 16px;
    padding: 5px 15px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 20px;
}

.filters > input[type="radio"]:checked + label{
    background-color: var(--red700);
    color: var(--neutral0);
}

main{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 1rem;
}

div.card{
    background-color: light-dark(var(--neutral0), var(--neutral800));
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 5px 1px light-dark(var(--neutral600), var(--neutral300));
}

div.cardContent{
    grid-template-columns: 2;
    margin-bottom: 20px;
}

p{
    color: light-dark(var(--neutral600), var(--neutral300));
}

.settingsDiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

button.btnRemove{
    background-color: light-dark(var(--neutral0), var(--neutral800));
    border: 1px solid light-dark(var(--neutral300), var(--neutral600));
    padding: 5px 15px;
    font-size: 16px;
    border-radius: 20px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--red700);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--red700);
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
}